# ==========================
# MLflow tracking
# ==========================
# MLFLOW_TRACKING_URI: The URI for MLflow tracking. Used for experiment tracking.
MLFLOW_TRACKING_URI=http://your-mlflow-server:5000